main {
    /* margin: 1rem; */
    padding: 2rem;
    max-width: 1000px;
    margin:0 auto;
}

body {
    
    
}

img {
    max-height: 72vh;
}


.title-hero {
    font-size: 3rem;
    color: var(--pico-primary);
}

.subtitle-hero {
    font-size: 1.5rem;
}


.highlight {
    background-color: #714a6d;
    color: white;
    padding: 20px;
    border-radius: 15px;
    font-size: 1.1rem;
    /* margin-bottom: 0; */
}

.answer {

    border-left: #714a6d 3px solid;
    padding-left: 10px;
    color: #714a6d;
    font-size: 0.99rem;
}

.top-bar {
    margin:0;
    padding: 0.5rem;
    padding-left: 2.5rem;
    background-color: #cee6bd;
}


.highlight-2 {
    color: #714a6d;
    font-size: 1.3rem;
    font-weight: 650;
    /* margin-bottom: 0; */
}

