main {
    margin: 1rem;
    padding: 1rem;
}

body {
    margin:0 auto;
    max-width: 1000px;
}

img {
    max-height: 72vh;
}

.parent {
    margin: auto;
}

.title-hero {
    font-size: 3rem;
    color: var(--pico-primary);
}

.subtitle-hero {
    font-size: 1.5rem;
}

@media (max-width: 780px) {
  .parent {
    grid-template-columns: 1fr; /* stack vertically on small screens */
  }
}

.div1 {
    /* padding-top: 4rem; */
    min-width: 250px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center
}

.div2 {
    min-width: 250px;
    padding-bottom: 20px;
    text-align: center;
}

.div3 {
    padding-top: 1rem;
}

.highlight {
    background-color: #714a6d;
    color: white;
    padding: 20px;
    border-radius: 15px;
    font-size: 1.1rem;
    /* margin-bottom: 0; */
}

.answer {

    border-left: #714a6d 3px solid;
    padding-left: 10px;
    color: #714a6d;
}