.parent {
display: grid;
grid-template-columns: repeat(7, 1fr);
grid-column-gap: 2rem;
grid-row-gap: 2rem;
}

.div1 { grid-area: 1 / 1 / 2 / 4; }
.div2 { grid-area: 1 / 4 / 2 / 8; }
.div3 { grid-area: 2 / 2 / 3 / 7; }