/* css styles */

/* Remove incorrect menu role from navbar toggler */
.navbar-toggler[role="menu"] {
}


.navbar .aa-DetachedSearchButton::after {
  content: " Search";
  margin-left: 0.5rem;
  font-size: 0.9rem;
  color: #012635
}

.btn.quarto-search-button::after {
  content: " Search";
  margin-left: 0.5rem;
  font-size: 0.9rem;
  color: #012635
}

/* Add label to search input using parent container */
.aa-Input {
  position: relative;
}

.aa-Input::placeholder {
  content: "Search";
  color: #012635;
}

/* Alternative: Style the input container if it exists */
/* .aa-Autocomplete::before {
  content: "Search: ";
  font-size: 0.9rem;
  color: #012635;
  margin-right: 0.5rem;
}
 */



.page__content-skip-link:active, .page__content-skip-link:focus {
    position: static!important;
    clip: auto;
    height: auto;
    width: auto;
    overflow: auto;
}
.page__content-skip-link:active, .page__content-skip-link:focus {
    position: static!important;
    clip: auto;
    height: auto;
    width: auto;
    overflow: auto;
}
.page__content-skip-link {
    position: absolute!important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px,1px,1px,1px);
    background-color: #012635;
    color: #fff;
    display: block;
    padding: 3px;
    text-align: center;
}
.page__content-skip-link {
    position: absolute!important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px,1px,1px,1px);
    background-color: #012635;
    color: #fff;
    display: block;
    padding: 3px;
    text-align: center;
}
